html {
    background-color: #6b5f5f;
}
section {
    border: 1px white solid;
    width: 33.33%;
    float: left;
    position: relative;
    /* margin: 1%; */
  
    padding: 10px;
    padding-top: 60px;
    color: white;
    background-color: rgb(0, 0, 0);
  }
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

}


h1 {
    font-size: 36px;
    color: blue;
}
h2 {
   font-size: 22px; 
   color: red;
   background-color: pink;
   text-align: center;
   margin: 20px


}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

p {
    border: 2px solid red;
    
    font-size: 18px;
    line-height: 1.6;
}

/* For Desk Top */
@media  (min-width: 992px ) {
    body{
        background-color: pink;
        color: maroon
        padding: 30px;
        margin-block: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    section.first {
        width: 50%;
      }


  section.second {
    width: 50%;
  }
  section.third {
    width: 100%;
    /* margin-top: 20px; */
  }
    }
   
   /*Mobile*/
    @media  (max-width: 765px ) {
        section {
            width: 100%;
          }
        body{
            background-color: rgb(68, 94, 150);
            color: rgb(179, 67, 67);
            
            margin-block: 10px;
            margin-right: 10%;
           
        }}